body{
	font-family: Helvetica;
}
#cgf{
	width: 100%;
	padding: 10px 2px 10px 16px;
	margin-left: -10px;
	background-color: #3B5998;
	margin-top: -8px;
	position: static;
}
.q{
	margin-left: 43%;
}
.bq{
	margin-right: 14%;
}
#nb{
	display: inline;
}
.px{
	padding: 10px 10px 10px 10px;
}
.px:hover{
	background-color: #355089;
}
#nbl{
	text-decoration: none;
	color:#fff;
}