body{
 	font-family: Helvetica;
}
.mcg{
	margin-top: 6.5%;
	border: 3px solid #1BCBF2;
	width: 30%;
	padding-bottom: 2%;
	padding-top: 5%;
	border-radius: 1.5%;
	background-color: #CBEA4D;
	opacity: 0.4;
}
.lghd{
	margin-top: -13.5%;
	font-size: 120%;
}
.cgl{
	margin-top: 2%;
}
.in{
	margin-top: 0.2%;
}
.cgbt{
	margin-top: 5.5%;
}
.lbt{
	cursor: pointer;
	padding: 2.3% 6% 2.3% 6%;
	background-color: #1CE576;
	border: 2px solid #791DBB;
	border-radius: 5%;
	font-size: 100%;
	font-weight: bold;
	color:black;
	font-family: Helvetica;
}
.lbt:hover{
 	background-color: #17A954;
}
.lbt:active{
 	background-color: #035826;
}
.crg, a{
	margin-top: 10%;
	text-decoration: none;
	color:blue;
}
a:hover{
	text-decoration: underline;
}

@media screen and (max-width: 600px) {
	.mcg{
		margin-top: 25%;
		border: 3px solid #1BCBF2;
		width: 70%;
	}
}
@media screen and (min-width: 600px) {
	.mcg{
		margin-top: 10%;
		border: 3px solid #1BCBF2;
		width: 50%;
	}
}
@media screen and (min-width: 800px) {
	.mcg{
		margin-top: 10%;
		border: 3px solid #1BCBF2;
		width: 50%;
	}
}
@media screen and (min-width: 1000px) {
	.mcg{
		margin-top: 8%;
		border: 3px solid #1BCBF2;
		width: 30%;
	}
}