body{
	font-family: Helvetica;
}
.mcg{
	margin-top: 8%;
	margin-bottom: 15%;
}
.fcg{
	border: 2px solid black;
	max-width: 35%;
}
.bt{
	margin-top: 5%;
	margin-bottom: 5%;
}
.mg{
	margin-top: 5%;
}
#alamat{
	resize: none;
}